  <li class="nav-item "><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/AdminLogin">AdminLogin</a></li>
            <li class="nav-item"><a class="nav-link" href="/SellerLogin">SellerLogin</a></li>
  <li class="nav-item"><a class="nav-link" href="/NewSeller">NewSeller</a></li>
             <li class="nav-item"><a class="nav-link" href="/UserLogin">Buyer</a></li>
    <li class="nav-item"><a class="nav-link" href="/NewUser">NewBuyer</a></li>