 <li class="nav-item "><a class="nav-link" href="/SellerHome">Home <span class="sr-only">(current)</span></a></li>
               <li class="nav-item"><a class="nav-link" href="/NewProduct">NewProduct</a></li>
  <li class="nav-item"><a class="nav-link" href="/NewService">NewService</a></li>
               <li class="nav-item"><a class="nav-link" href="/MProductInfo">ProductInfo</a></li>
 <li class="nav-item"><a class="nav-link" href="/ESalesInfo">SalesInfo</a></li>
             <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>